.footer {
  text-align: center;
  padding: 20px 0;
  background: var(--navbar);
  color: var(--secondary-text);
  font-weight: 200;
}

@media (max-width: 768px) {
  .footer {
    padding: 14px 0;
  }
}